<html>
  <head>
    <title>Lista de Libros</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"
      &gt;
    />
  </head>
  <body>
    <a href="{% url 'login' %}">Iniciar sesión</a>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
    <h1>Lista de Libros</h1>
    <h2>Libros Disponibles</h2>
    <ul>
      {% for libro in libros_disponibles %}
      <li>
        <a href="{% url 'detalle_libro' pk=libro.pk %}">{{ libro.titulo }}</a>
      </li>
      {% endfor %}
    </ul>
    <p><a href="{% url 'create_libro'%}">Nuevo Libro</a></p>

    <h2>Libros Prestados</h2>
    <ul>
      {% for libro in libros_prestados %}
      <li>
        <a href="{% url 'detalle_libro' pk=libro.pk %}">{{ libro.titulo }}</a>
      </li>
      {% endfor %}
    </ul>

    <h2>Lista de Libros reservados</h2>
    <ul>
      {% for libro in libros_reservados %}
      <li>
        <a href="{% url 'detalle_libro' pk=libro.pk %}">{{ libro.titulo }}</a>
      </li>
      {% endfor %}
    </ul>

    {% if page_obj.has_previous %}
    <a
      href="{% url 'listadoLibros' %}?page={{ page_obj.previous_page_number }}"
    >
      Ir a página {{ page_obj.previous_page_number}}
    </a>
    {% endif %} La pagina actual es {{ page_obj.number}} {% if page_obj.has_next
    %}
    <a href="{% url 'listadoLibros' %}?page={{ page_obj.next_page_number }}">
      Ir a página {{ page_obj.next_page_number }}
    </a>
  </body>
</html>
