<html>
  <head>
    <title>Lista de Libros</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"
      &gt;
    />
  </head>
  <body>
    <h1>Lista de Libros</h1>
    <h2>Lista de Libros disponibles</h2>
    <ul>
      {% for libro in libros_disponibles %}
      <li>
        <a href="{% url 'detalle_libro' pk=libro.pk %}">{{ libro.titulo }}</a>
      </li>
      {% endfor %}
    </ul>
    <p><a href="{% url 'create_libro'%}">Nuevo Libro</a></p>

    <h2>Lista de Libros prestados</h2>
    <ul>
      {% for libro in libros_prestados %}
      <li>
        <a href="{% url 'detalle_libro' pk=libro.pk %}">{{ libro.titulo }}</a>
      </li>
      {% endfor %}
    </ul>

    <h2>Mis Reservas</h2>
    <ul>
      {% for libro in libros_reservados %}
      <li>
        <a href="{% url 'detalle_libro' pk=libro.pk %}">{{ libro.titulo }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
